// main layout
@media screen and (max-width: 1400px) {
    .jrfHero {
        aside {
            max-width: 360px;
            padding: 50px 30px;
        }
        main {
            padding-left: 50px;
            padding-right: 50px;
        }
        &.is-active {
            main {
                padding-right: 410px;
                padding-left: 50px;
            }
        }
    }
}
@media screen and (max-width: 840px) {
    .jrfHero {
        .c-hamburguer {
            display: block;
        }
        aside {
            max-width: 320px;
            padding: 40px 25px;
        }
        main {
            padding-left: 40px;
            padding-right: 40px;
        }
        &.is-active {
            main {
                padding-right: 40px;
                padding-left: 40px;
            }
            aside {
                right: 0px;
            }
        }
    }
}
@media screen and (max-width: 540px) {
    .jrfHero {
        aside {
            padding: 30px 20px;
        }
        main {
            padding-left: 10px;
            padding-right: 10px;
        }
        &.is-active {
            main {
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }
}

// forms
@media screen and (max-width: 820px) {
    .c-simpleForm li.liCarProperties>div {
        @include flexWidth(50%);
    }
    .c-simpleForm li.u-fw20,
    .c-simpleForm li.u-fw25,
    .c-simpleForm li.u-fw30 {
        @include flexWidth(50%);
    }
}
@media screen and (max-width: 480px) {
    .c-simpleForm li {
        min-width: 100% !important;
    }
    .c-simpleForm li.liCarProperties>div {
        @include flexWidth(100%);
    }
}

// aside content
@media screen and (max-width: 820px) {
    aside .asideTopics {
        flex-wrap: wrap;
        li {
            @include flexWidth(100%);
        }
    }
}