@media screen and (max-width: 1400px) {
	aside {
        @include flexWidth(380px);
    }
    main {
        padding-right: 65px + 380px;
    }
}

@media screen and (max-width: 1280px) {
    .c-simpleForm {
        .fieldsetHero {
            flex-wrap: wrap;
            margin-top: 50px;
        }
        &__fieldsetTitle {
            @include flexWidth(100%);
            padding-right: 0;
            padding-top: 0;
            padding-bottom: 15px;
            h2, p {
                text-align: left;
            }
        }
        &__fields {
            @include flexWidth(100%);
            border-left: 0;
            padding-left: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
@media screen and (max-width: 1030px) {
    .c-simpleForm li.u-fw50 {
        @include flexWidth(100%);
    }
    .c-simpleForm li.u-fw30 {
        @include flexWidth(60%);
    }
    .c-simpleForm li.u-fw20 {
        @include flexWidth(40%);
    }
    .c-simpleForm li.liData {
        justify-content: flex-start;
        label {
            flex: 0 1 auto;
            width: auto;
            display: inline;
        }
    }
}
@media screen and (max-width: 840px) {
    main {
        padding-top: 0;
        padding-left: 50px;
        padding-bottom: 50px;
        padding-right: 435px;
    }
}
@media screen and (max-width: 780px) {
    .jrfHero {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    main {
        @include flexWidth(100%);
        padding-right: 50px;
        order: 2;
    }
    aside {
        @include flexWidth(100%);
        position: relative;
        order: 1;
        height: auto;
        padding: 50px;
    }
}
@media screen and (max-width: 410px) {
    main, aside {
        padding-left: 25px;
        padding-right: 25px;
    }
}