// Layout Colors
$primaryLight: #329ECC;
$primary: #329ECC;
$primaryDark: #329ECC;

$secondaryLight: rgba(0,0,0,0.5);
$secondary: rgba(0,0,0,0.5);
$secondaryDark: rgba(0,0,0,0.5);

$white: #fff;
$white2: #f8f8f8;
$white3: #f4f4f4;

$mutedGray: #ededed;
$lightGray: #e7e7e7;
$mediumGray: #c5c5c5;
$darkGray: #4c4c4c;
$baseGray: #898989;

$defaultRadius: 5px;

$feedbackSuccess: #1ca33d;
$feedbackLoad: #2FEB9C;
$feedbackError: #f05555;

$whatsappPrimary: #25d366;
$whatsappSecondary: #1eb456;

// Sizes
$containerWidth: 1200px;
$containerBigWidth: 1440px;
$maxRowWidth: 2560px;

// media folders
$media_assets : "../media/img/assets/";
$media_icons : "../media/img/icons/";
$media_content : "../media/img/content/";
//example: background: url(#{$media_assets}image.png);

// text
$text: $secondary;
$placeholderText: lighten($text, 15%);
$fontFamily__default: 'Oswald', 'Roboto', 'Calibri', sans-serif;
$fontFamily__secondary: 'Lato', 'Roboto', 'Calibri', sans-serif;
$fwLight: 300; 
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
