// <>
body {
	@include scroll();
}

// c
.c-formSteps {
	display: block;
	li {
		display: block;
		margin-bottom: 25px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	a {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		div {
			@include transition();
			@include title($fs: 16px, $tc: $white);
			@include opacity(0.3);
			padding-right: 15px;
			strong {
				display: inline;
			}
		}
		span {
			@include transition();
			@include flexWidth(15px);
			@include opacity(0.2);
			width: 15px;
			height: 15px;
			background: $white;
			&.is-checked {
				@include opacity(1);
				background: $feedbackSuccess;
				border: 3px solid $white;
			}
		}
		&:hover {
			div {
				@include opacity(0.5);
			}
		}
		&.is-active {
			div {
				@include opacity(0.7);
			}
		}
	}
}

// #
aside {
	@include scroll();
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	display: block;
	width: 100%;
	max-width: 450px;
	height: 100vh;
	background: $primary;
	padding: 90px 65px 65px 65px;
	h1 {
		@include title($tc: $white);
		@include opacity(0.7);
		margin-bottom: 20px;
	}
	p {
		@include paragrafos($tc: $white);
		@include opacity(0.7);
	}
	.c-formSteps {
		margin-top: 60px;
	}
}

main {
	width: 100%;
	padding: 90px 515px 90px 65px;
}