@mixin paragrafos($tc: $white, $fw: $fwLight, $fs: 14px, $lh: 1.2, $mb: 15px, $mbLOT: 0) {
    font-family: $fontFamily__secondary;
    color: $tc;
    font-size: $fs;
    font-weight: $fw;
    margin-bottom: $mb;
    line-height: $lh;
    &:last-of-type {
        margin-bottom: $mbLOT;
    }
    a {
        color: $tc;
        font-size: $fs;
        font-weight: $fw;
        line-height: $lh;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    strong {
        font-weight: bold;
        color: $tc;
        font-size: $fs;
        line-height: $lh;
    }
    @media screen and (max-width: 430px) {
        font-size: $fs - 2;
        a, strong {
            font-size: $fs - 2;
        }
    }
}

@mixin title($tc: $white, $ta: left, $fs: 15px) {
    display: block;
    width: 100%;
    color: $tc;
    line-height: 1;
    text-align: $ta;
    text-transform: uppercase;
    font-size: $fs;
    font-weight: $fwLight;
    strong {
        font-weight: $fwMedium;
        display: inline;
        width: 100%;
    }
}

@mixin labelTextStyle() {
    font-family: $fontFamily__default;
    font-weight: $fwRegular;
    text-transform: uppercase;
    color: #8C8C8F;
    font-size: 12px;
}